.row_hilite {
    background-color: #cccccc;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.pointer {
    cursor: pointer;
}
body {
    height: 100%;
    background: url(/static/images/speaker_bkgnd.png) no-repeat center center fixed transparent;
    padding-top: 40px;
}
@media screen and (max-width: 767px) {
    body {
    }
}

.brand {
	padding-left: 20px;
	
}
.control-icon {
    font-size: 36;
}


