<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery/css/ui-lightness/jquery-ui-1.8.17.custom.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/speaker-icon-16x16.png')}}" />
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	      <a class="brand" href="/">Jive</a>
	        <ul class="nav">
	            <li class="divider-vertical"></li>
	            <li><a href="#"><i class="iconic-first mpd_previous_button control-icon"></i></a></li>
	            <li class="divider-vertical"></li>
	            <li><a href="#"><i class="iconic-stop mpd_stop_button control-icon"></i></a></li>
	            <li class="divider-vertical"></li>
	            <li><a href="#"><i class="iconic-play mpd_play_button control-icon"></i></a></li>
	            <li class="divider-vertical"></li>
	            <li><a href="#"><i class="iconic-last mpd_next_button control-icon"></i></a></li>
	            <li class="divider-vertical"></li>
	            <li><a href="browse"><i class="iconic-folder control-icon"></i></a></li>
	        </ul>
	       	<div class="nav-collapse">
	        <form class="navbar-search pull-right" action="">
	          <input type="text" id="search_input" name="q" class="search-query" placeholder="Search Library..." />
	        </form>
	      </div><!-- /.nav-collapse -->
	    </div><!-- /.container -->
	  </div><!-- /.navbar-inner -->
	</div><!-- /.navbar -->
    {% block content %}

    {% endblock %}
    
    <script src="{{ url_for('static', filename='jquery/js/jquery-1.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/js/jquery-ui-1.8.17.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='player.js') }}"></script>

    {% block code %}
    {% endblock %}
</body>
</html>
