<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery/css/ui-lightness/jquery-ui-1.8.17.custom.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/speaker-icon-16x16.png')}}" />
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Jive</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a id="mpd_header_playlist" href="/">Now Playing ({{status.playlistlength}})</a></li>
              <li><a id="mpd_header_browse" href="/browse">Browse</a></li>
              <li><a id="mpd_header_playlists" href="/playlists">Playlists</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="#">Volume:</a></li>
              <li><a style="width:100px; vertical-align:middle;"><div id="mpd_header_volume"></div></a></li>
              <li><a href="#">Search Music</a></li>
              <li class="">
                <form class="navbar-search" id="search" action="search">
                  <input type="text" id="search_input" name="q" class="search-query" placeholder="Search Library..." />
                </form>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    {% block content %}

    {% endblock %}
    
    <script src="{{ url_for('static', filename='jquery/js/jquery-1.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/js/jquery-ui-1.8.17.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='player.js') }}"></script>

    {% block code %}
    {% endblock %}
</body>
</html>
