{% extends "base.html" %}
{% block content %} 
    <div class="container mpd_page" id="mpd_playlist_page">
        <div class="row">
            <div class="span8 offset2">
                <div id="songpos"/>
                <table class="table" id="mpd_playlist">
                    <thead>
                        <tr><th>Title</th><th>Artist</th></tr>
                    </thead>
                    <tr id="mpd_playlist_row_template" style="display:none;">
                        <td class="mpd_title"><!--title--></td>
                        <td class="mpd_artist"><!--artist--></td>
                    </tr>
                </table>
            </div>
        </div>
    </div> 
{% endblock %}

